[submodule "gifsicle/gifsicle"]
	path = gifsicle/orig
	url = https://github.com/pornel/giflossy.git
[submodule "zopfli-png/zopfli"]
	path = zopfli-png/zopfli
	url = https://github.com/ImageOptim/zopfli.git
[submodule "pngquant/src"]
	path = pngquant/src
	url = https://github.com/pornel/pngquant.git
	ignore = untracked
[submodule "libjpeg/src"]
	path = libjpeg/src
	url = https://github.com/ImageOptim/mozjpeg-cocoa.git
[submodule "jpegoptim/src"]
	path = jpegoptim/src
	url = https://github.com/tjko/jpegoptim.git
[submodule "guetzli/guetzli"]
	path = guetzli/guetzli
	url = https://github.com/google/guetzli.git
	ignore = dirty
[submodule "svgcleaner/src"]
	path = svgcleaner/src
	url = https://github.com/RazrFalcon/svgcleaner.git
[submodule "oxipng/oxipng"]
	path = oxipng/oxipng
	url = https://github.com/shssoichiro/oxipng
[submodule "webp/src"]
	path = webp/src
	url = https://github.com/webmproject/libwebp.git
[submodule "avif/src"]
	path = avif/src
	url = https://github.com/AOMediaCodec/libavif.git
[submodule "avif/aom"]
	path = avif/aom
	url = https://aomedia.googlesource.com/aom
[submodule "jxl/src"]
	path = jxl/src
	url = https://github.com/libjxl/libjxl.git

